<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tablet Guides</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="logo">

        <p>Tablet Guides</p>

    </div>
<div class="login-div">
<form action="/login" method="post">
    <div><input class="field name" type="text" name="username" placeholder="Имя пользователя"/></div>
    <div><input class="field pass" type="password" name="password" placeholder="Пароль"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input class="button" type="submit" value="ВОЙТИ"/></div>
</form>
</div>
</div>
</body>
</html>