<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="/script/bold.js" defer></script>
    <script type="text/javascript" src="/script/url.js" defer></script>
    <script type="text/javascript" src="/script/jquery.js" defer></script>
    <script type="text/javascript" src="/script/savetext.js" defer></script>
    <script type="text/javascript" src="/script/enter.js" defer></script>
    <script type="text/javascript" src="/script/imagetotextarea.js" defer></script>
</head>
<body>
<header>
    <div class="logo">
        <p><a class="logolink" href="/">Tablet Guides</a></p>
    </div>
    <div class="logout">
        <form action="logout" method="post">
            <input type="submit" value="ВЫХОД"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>
</header>
<main>
    <div class="main">
        <div class="category category-add">
        <form method="post" action="/addNewCategory">
                <input type="text" class="new-cat-field" name="namecat" placeholder="Новая категория">
                <input type="submit" class="button-for-textarea add-new-cat-button" value="">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
        </div>
        <form method="post" action="/edit">
            <div class="category category-check">
            <select class="category-input" name="categoryinput" id="category-input" placeholder="Категория" required>
                <option class="hiddenopt" name="cat{{{instruction.category}}}" hidden></option>
                {{#categories}}
                    <option class="option" name="cat{{id}}" value="{{name}}">{{name}}</option>
                {{/categories}}
            </select>
            </div>
            <input type="text" class="head" id="head" name="head" placeholder="Заголовок" value="{{{instruction.head}}}" required>
            <div class="buttons">
                <input type="button" id="url" class="button-for-textarea url" title="Преобразовать выделенный текст в ссылку">
                <input type="button" id="bold" class="button-for-textarea bold" title="Сделать выделенный текст жирным">
            </div>
            <textarea class="main-text" id="main-text" name="maintext" placeholder="Основной текст" required></textarea>



            <input type="text" class="head" id="tag" name="tag" placeholder="Теги через запятую" required>
            <div class="buttons container-save">
                <input class="save" type="submit" value="Измененить"/>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">

        </form>

        <form method="post" action="/uploadfilesfromedit"  enctype="multipart/form-data">
            <div class="image-container">
                <div class="loadfiles">
                    <input class="multifile" type="file" id="multifile" name="multifile" multiple>
                </div>
                <div class="noimage">
                    <ul>
                        {{#noimage}}
                            <li><p>{{.}}</p> <input type="button" onclick="addnoimagetotextarea(this);" class="button-for-textarea imgbutton" name="{{.}}" title="Добавть файл в текстовое поле"></li>
                        {{/noimage}}
                    </ul>
                </div>
                <div class="viewfiles" id="viewfiles">
                    {{#images}}
                    <div class="fileelement">
                        <div class="imageelement">
                            <img src="/files/{{.}}">
                        </div>
                        <input type="button" onclick="addimagetotextarea(this);" class="button-for-textarea imgbutton" name="{{.}}">
                    </div>
                    {{/images}}
                </div>
            </div>
            <div class="buttons container-save">
                <input class="save" type="submit" value="Загрузить"/>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>
</main>
</body>
</html>