<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="/script/url.js" defer></script>
</head>
<body>
<header>
    <div class="logo">
        <p>Tablet Guides</p>
    </div>
    <div class="logout">
        <form action="logout" method="post">
            <input type="submit" value="ВЫХОД"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>
</header>
<main>
    <div class="main">
        <div class="category">
        <form method="post" action="/addNewCategory">

                <select class="category-input" name="category-input" id="category-input" placeholder="Категория">
                    <option class="option" value="123">123</option>
                    {{#categories}}
                        <option class="option" value="{{name}}">{{name}}</option>
                    {{/categories}}
                </select>
                <input type="text" class="new-cat-field" name="name" placeholder="Новая категория">
                <input type="submit" class="button-for-textarea add-new-cat-button" value="">

        </form>
        </div>
        <form method="post" action="save">

            <input type="text" class="head" id="head" placeholder="Заголовок">
            <div class="buttons">
                <input type="button" id="url" class="button-for-textarea url">
                <input type="button" class="button-for-textarea bold">
            </div>
            <textarea class="main-text" id="main-text" placeholder="Основной текст"></textarea>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <script>
                var elements = document.querySelectorAll('.head, textarea');

                function checkValidity() {};

                for (i=0; i<elements.length; i++) {
                    (function(element) {
                        var id = element.getAttribute('id');
                        element.value = sessionStorage.getItem(id); // обязательно наличие у элементов id
                        element.oninput = function() {
                            sessionStorage.setItem(id, element.value);
                            checkValidity();
                        };
                    })(elements[i]);
                }
            </script>
        </form>
    </div>
</main>
</body>
</html>