<!DOCTYPE HTML>
<html>
<head>
    <title>Tablet Guides</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/script/popup_img.js"></script>
    <script type="text/javascript" src="/script/div.js"></script>
    <script type="text/javascript" src="/script/hightdiv.js"></script>
    <script type="text/javascript" src="/script/filter.js" defer></script>
    <script type="text/javascript" src="/script/clearsessionedit.js" defer></script>
</head>
<body onload="init()">
<div class="header-main">
<header class="header">
    <div class="logo">
        <p><a class="logolink" href="/">Tablet Guides</a></p>
    </div>
    <div class="search-div">
        <form action="search" method="post">
            <input type="text" class="search" name="search" placeholder="Поиск по тегам">
            <input type="submit" class="search-button" value=""/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
        <a href="/new"><input class="save" id="new" type="button" value="СОЗДАТЬ"/></a>
    </div>
    <div class="logout">
        <form action="logout" method="post">
            <input type="submit" value="ВЫХОД"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>
</header>
</div>
<div class="catlist">
    <form>
    {{#categories}}
        <input type="radio" class="radio" name="radio" id="radio-{{id}}" onclick="filter(this)"><label for="radio-{{id}}" class="label">{{name}}</label>
    {{/categories}}
        <input type="radio" class="radio" name="radio" id="radioall"  onclick="filter(this)" checked><label for="radioall" class="label">Все</label>
    </form>
</div>
<main>
    {{#instruction}}
        <div class="item" name="item-{{{category}}}">
            <div class="head-container">
            <div class="head"  onclick="maxi1(this)">{{{head}}}</div>
            <div class="buttons">
                <div class="down"></div>
                <form action="/editing" method="post">
                    <input type="submit" id="edit-button" class="button edit" name="edit" value="edit{{{id}}}" title="Редактировать">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                </form>
                <form action="/delete" method="post">
                    <input type="submit" class="button delete" name="delete" value="delete{{{id}}}" title="Удалить" onclick="return confirm('Вы точно хотите удалить?')">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                </form>
            </div>
            </div>
            <div class="maintext">
                {{{main}}}
            </div>
            <div class="tag">
                {{{tag}}}
            </div>
        </div>
    {{/instruction}}
</main>
</body>
</html>