<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

Это main
<br>
<a href="/edit">Главная страница</a>

<div>
    {{#instruction}}
        {{category}}
        <br>
        {{head}}
        <br>
        {{main}}
        <br>
        {{tag}}
        <br>
    {{/instruction}}
</div>

</body>
</html>